.gradle
.kotlin/
local.properties
.fleet
.idea
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/icon.png
*.iml
*.so
.DS_Store
build
captures
version.properties
env
node_modules
reports
.cxx

# IDE-generated dir
out/

# We have one gitignore but project generation often generates extra ones. Ignore those
*/**/.gitignore

docs/code-of-conduct.md
docs/contributing.md
docs/changelog.md
docs/api/
site/
temp-clone/

.externalNativeBuild
!samples/counter/apps/iosApp/Counter.xcodeproj/project.xcworkspace/

##########################################################################################
# Imported from https://github.com/github/gitignore/blob/main/Swift.gitignore
##########################################################################################

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Fastlane
fastlane/report.xml

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

# AI Stuff
/.claude/settings.local.json
/CLAUDE.local.md