name: CI

on:
  # Only run push on main
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  # Always run on PRs
  pull_request:

concurrency:
  group: ci-${{ github.ref }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    name: JDK ${{ matrix.ci_java_version }} / Kotlin ${{ matrix.ci_kotlin_version }}
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        # Test on API 30 because that's the first version with ATDs
        api-level: ['30']
        avd-target: ['aosp_atd']
        ci_java_version: ['17']
        ci_kotlin_version: ['1.7.20']
    env:
      DEP_OVERRIDES: 'true'
      DEP_OVERRIDE_KOTLIN: '${{ matrix.ci_kotlin_version }}'
      DEP_OVERRIDE_JAVA: '${{ matrix.ci_java_version }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: 'true'

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Check LFS files
        uses: actionsdesk/lfs-warning@v3.2

      - name: Install JDK ${{ matrix.ci_java_version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.ci_java_version }}

      - name: Build and run tests
        id: gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check :samples:star:apk:assembleDebug :samples:star:assembleReleaseAndroidTest verifyPaparazzi detektMain detektTest --continue
          gradle-home-cache-cleanup: true
          cache-read-only: false

      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}-${{ matrix.avd-target }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          disable-spellchecker: true
          target: ${{ matrix.avd-target }}
          channel: canary # Necessary for ATDs
          script: echo "Generated AVD snapshot for caching."

      - name: Run instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          disable-spellchecker: true
          target: 'aosp_atd'
          channel: canary # Necessary for ATDs
          script: |
            adb uninstall com.slack.circuit.star || true
            adb uninstall com.slack.circuit.star.androidTest || true
            ./gradlew connectedDebugAndroidTest
            adb uninstall com.slack.circuit.star || true
            adb uninstall com.slack.circuit.star.androidTest || true

      - name: (Fail-only) Bundle the build report
        if: failure()
        run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

      - name: (Fail-only) Upload the build report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: error-report
          path: build-reports.zip

      - name: Publish snapshot (main branch only)
        if: github.repository == 'slackhq/circuit' && github.ref == 'refs/heads/main' && matrix.api-level == '30' && matrix.avd-target == 'aosp_atd' && matrix.ci_java_version == '18' && matrix.ci_kotlin_version == '1.7.20'
        run: ./gradlew publish -PmavenCentralUsername=${{ secrets.SONATYPEUSERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPEPASSWORD }} --no-configuration-cache
