name: CI

on:
  # Only run push on main
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  # Always run on PRs
  pull_request:
    branches: [ main ]
  merge_group:

concurrency:
  group: 'ci-${{ github.event.merge_group.head_ref || github.head_ref }}-${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  build:
    runs-on: macOS-latest
    env:
      # Test on API 30 because that's the first version with ATDs
      API_LEVEL: '30'
      AVD_TARGET: 'aosp_atd'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: 'true'

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Check LFS files
        uses: actionsdesk/lfs-warning@v3.2

      - name: Install JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '19'

      - name: Build and run tests
        id: gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check :samples:star:apk:assembleDebug detektMain detektTest --continue --no-configuration-cache
          gradle-home-cache-cleanup: true
          cache-read-only: false

      - name: Verify Snapshots
        if: always()
        id: gradle-paparazzi
        uses: gradle/gradle-build-action@v2
        with:
          arguments: verifyPaparazzi
          gradle-home-cache-cleanup: true
          cache-read-only: false

      - name: (Fail-only) Upload build reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: |
            **/build/reports/**

      - name: Publish snapshot (main branch only)
        if: github.repository == 'slackhq/circuit' && github.ref == 'refs/heads/main'
        run: ./gradlew publish -PmavenCentralUsername=${{ secrets.SONATYPEUSERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPEPASSWORD }} --no-configuration-cache
